$roboto: 'Roboto', sans-serif !default;
$title-font: 'Bevan', cursive;

$contrast: #303036;

$primary-color: #161D6E;
$secondary-color: #1160AA;
$third-color: #9BB4DA;
$forth-color: #E9D2B3;
$offWhite: #F8F8F8;
$background: $offWhite;
$link: #C54321;
